/* Variables
================================================== */

$white: #FFF;
$light-grey: #F2F2F2;
$grey: #E8E8E8;
$dark-grey: #4F4F4F;
$fill: #EEE;
$black: #000;
$green: #27AE61;
$red: #EB5757;
$blue: #2C9CDB;

$font-stack-ptsans: 'PT Sans', sans-serif;
$font-stack-ptcaption: 'PT Sans Caption', sans-serif;


$font-size: 62.5%;
